.container{
    padding: 10px;
    text-align: center;
}
input{
    background-color: #eee;
    border: none;
    border-bottom: 2px solid blue;
    padding: 10px;
    height: 50px;
    width: 450px;
    font-size: 15px;
}