<mat-tab-group>
    <mat-tab label="Table">
        <ng-template matTabContent>
            <app-list></app-list>
        </ng-template>
    </mat-tab>
    <!-- <mat-tab label="BarChart">
        <ng-template matTabContent>
            <app-barcharts></app-barcharts>
        </ng-template>
    </mat-tab>
    <mat-tab label="PieChart">
        <ng-template matTabContent>
            <app-piechart></app-piechart>
        </ng-template>
    </mat-tab>
    <mat-tab label="Tic Tac Toe">
        <ng-template matTabContent>
            <app-tictactoe></app-tictactoe>
        </ng-template>
    </mat-tab> -->
</mat-tab-group>